<div id="footer-wrapper">
	<footer class="container" id="site-footer">
		<div class="row">
			<div class="12u">
				<div id="footer-links">
					<p>
						<span id="contact-link"><a href="/">Home</a></span>
						|
						<span id="contact-link"><a href="/about">About US</a></span>
						|
						<span id="contact-link"><a href="/contact">Contact Us</a></span>
						|
						<span id="contact-link"><a href="http://bluesky.eos.ubc.ca/">BlueSky Canada</a></span>
					</p>
				</div>
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="12u">
				<div id="copyright">
					&copy; FireSmoke.ca. All rights reserved.</a>
				</div>
			</div>
		</div>
	</footer>
</div>
