{% extends "app-base.jinja2" %}

{% block title %}Forecast{% endblock %}

{% block content %}

<div id="main-wrapper">
		<h3 id="forecast-title">Forecast for {%if region == 'Canada' %}Canada{% elif region == 'East'%}Eastern{% elif region == 'West'%}West{% elif region == 'Development' %}Developmental{% endif %} on <span id="month"></span> </h3>
		{% if error %}<p>{{ error }}</p>{% endif %}
		<div id="dropdown-wrapper">
			{{ form.render() | safe() }}
		</div>

		<div id="timeZoneDropDown"></div>

		{% if not error %}
		
		<!-- Use Jinja2 loop to list all images, then use javascript (if enabled) to remove list and -->
		<div id="forecast-imgs">
		{%- for image in image_set %}
			<img class="forecast-image" src="{{request.static_url(prefix + image)}}">
		{%- endfor %}
		</div>
		
    <p id="imgtag">test</p>
		<img id="PM25-legend" src={{request.static_url('firesmoke:static/images/PM25-legend.gif')}} />
		
		<div id="forecast-controls">
			<button type="button" onclick="changeSpd(50)"><img src="{{request.static_url('firesmoke:static/images/controls/slower1.png')}}"></button>
			<button type="button" onclick="firstImg()"><img src="{{request.static_url('firesmoke:static/images/controls/first_frame.png')}}"></button>
			<button type="button" onclick="chgImg(-1)"><img src="{{request.static_url('firesmoke:static/images/controls/previous_frame.png')}}"></button>
			<button type="button" onclick="auto()"><img id="toggle" src="{{request.static_url('firesmoke:static/images/controls/play_animation.png')}}"></button>
			<button type="button" onclick="chgImg(1)"><img src="{{request.static_url('firesmoke:static/images/controls/next_frame.png')}}"></button>
			<button type="button" onclock="lastImg()"><img src="{{request.static_url('firesmoke:static/images/controls/last_frame.png')}}"></button>
			<button type="button" onclick="changeSpd(-50)"><img src="{{request.static_url('firesmoke:static/images/controls/faster.png')}}"></button>
		</div>
		<!--<p id="show-speed">300</p>-->
		
		<!-- Initialize everything needed for image looping-->
		<script type="text/javascript">
			OpsImgs = [ '{{ image_set|join("','")|safe }}'];
			var ImgNum = 0;
			var ImgLen = OpsImgs.length - 1;
			var datespec;
			var delay = 300; // Delay between images (msec)
			var lock = false;
			var run;
			var forecastDate = {{forecast_date}};
		</script>
		
		{% endif %}
</div>

{% endblock %}