{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="body-wrapper">
	<div id="banner-image">
		<img src="{{request.static_url('firesmoke:static/images/banner.jpg')}}" alt="">
	</div>
	<!--<p class="sb-toggle-left">Toggle left sidebar</p>-->
	<div class="block">
		<h2>Western Canadian Forecast</h2>
		<p id="p1">Pasta ipsum dolor sit amet tripoline vermicelloni pennoni penne fettucelle conchiglioni. Capunti sorprese lisce ricciutelle rotelle lasagne mezzani pasta fiorentine fiori. Acini di pepe rotelle calamarata capellini lasagne spiralini penne rigate pappardelle ciriole spiralini gramigna. Pillus spaghetti sagnarelli penne rigate strozzapreti trenne bucatini lasagne creste di galli. Gramigna rotelle sagne 'ncannulate lumache spaghetti alla chitarra stringozzi ricciutelle pappardelle penne lisce trenne lumaconi maltagliati. Farfalloni fiorentine mezzelune spaghetti sorprese lisce. Rigatoncini mostaccioli rigatoni linguettine taglierini chifferi bavette zitoni farfalloni trofie. </p>
	</div>
	<div class="block">
		<h2>Eastern Canadian Forecast</h2>
		<p id="p2">Pasta ipsum dolor sit amet tripoline vermicelloni pennoni penne fettucelle conchiglioni. Capunti sorprese lisce ricciutelle rotelle lasagne mezzani pasta fiorentine fiori. Acini di pepe rotelle calamarata capellini lasagne spiralini penne rigate pappardelle ciriole spiralini gramigna. Pillus spaghetti sagnarelli penne rigate strozzapreti trenne bucatini lasagne creste di galli. Gramigna rotelle sagne 'ncannulate lumache spaghetti alla chitarra stringozzi ricciutelle pappardelle penne lisce trenne lumaconi maltagliati. Farfalloni fiorentine mezzelune spaghetti sorprese lisce. Rigatoncini mostaccioli rigatoni linguettine taglierini chifferi bavette zitoni farfalloni trofie. </p>
	</div>
	<div class="block">
		<h2>Canadian Forecast</h2>
		<p class="p3">Pasta ipsum dolor sit amet tripoline vermicelloni pennoni penne fettucelle conchiglioni. Capunti sorprese lisce ricciutelle rotelle lasagne mezzani pasta fiorentine fiori. Acini di pepe rotelle calamarata capellini lasagne spiralini penne rigate pappardelle ciriole spiralini gramigna. Pillus spaghetti sagnarelli penne rigate strozzapreti trenne bucatini lasagne creste di galli. Gramigna rotelle sagne 'ncannulate lumache spaghetti alla chitarra stringozzi ricciutelle pappardelle penne lisce trenne lumaconi maltagliati. Farfalloni fiorentine mezzelune spaghetti sorprese lisce. Rigatoncini mostaccioli rigatoni linguettine taglierini chifferi bavette zitoni farfalloni trofie. </p>
	</div>
</div>
{% endblock %}