{% extends "base.jinja2" %}

{% block title %}Resources{% endblock %}

{% block content %}

<div id="main-wrapper">
	<div class="container">
		<h3>Resources</h3>
	</div>
</div>

{% endblock %}