<div class="footer-wrapper">
	<div id="footer-links">
		<p>
			<span id="contact-link"><a href="/">Home</a></span>
			|
			<span id="contact-link"><a href="/about">About US</a></span>
			|
			<span id="contact-link"><a href="/contact">Contact Us</a></span>
			|
			<span id="contact-link"><a href="http://bluesky.eos.ubc.ca/">BlueSky Canada</a></span>
		</p>
	</div>
	<div class="horizontal-rule">
		<hr>
	</div>
	<div id="copyright">
		&copy; FireSmoke.ca. All rights reserved.</a>
	</div>
</div>