<div class="header-wrapper">
  <div class="header">
		<p class="sb-toggle-left">Menu</p>
		<h1 class="logo"><a href="/">FireSmoke.ca</a></h1>
    <nav>
      <ul>
        <!--<li><a href="#">FireSmoke.ca</a></li>-->
        <li><a href="/forecasts/canada/current">Forecasts</a>
        <ul>
					<li><a href="/forecasts/canada/current">Canada</a></li>
					<li><a href="/forecasts/east/current">East</a></li>
					<li><a href="/forecasts/west/current">West</a></li>
					<li><a href="/forecasts/development/current">Development</a></li>
				</ul>
				</li>
				<li><a href="/data">Data</a></li>
				<li><a href="/resources">Resources</a></li>
			</ul>
		</nav>
	</div>
</div>