<!-- Your left Slidebar content. -->
<div class="sb-slidebar sb-left">
  <ul id="sb-menu">
		<li class="logo"><a href="/">FireSmoke.ca</a>
    <li id="sb-forecasts"><a href="#">Forecasts</a></li>			        
        <ul>
            <li class="sub-li"><a href="/forecasts/canada/UTC/current">Canada</a></li>
            <li class="sub-li"><a href="/forecasts/east/UTC/current">Eastern Canada</a></li>
            <li class="sub-li"><a href="/forecasts/west/UTC/current">Western Canada</a></li>
            <li class="sub-li"><a href="/forecasts/development/UTC/current">Development</a></li>
        </ul>
    </li>
    <li><a href="/data">Data</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
</div>