<!DOCTYPE html>
<html>
<!-- this is a test -->
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script type= "text/javascript" src="js/main.js"></script>
		<link rel="stylesheet" href="css/slidebars.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body>
		<div id="sb-site">
		    <div class="header-wrapper">
				<div class="header">
					<h1 class="logo"><a href="">FireSmoke.ca</a></h1>
					<!--<a class="sb-toggle-left" href="#primary_nav">Menu</a>-->
					
						<nav>
							<ul>
								<li><a href="#">Forecasts</a>
									<ul>
										<li><a href="#">Canada</a></li>
										<li><a href="#">East</a></li>
										<li><a href="#">West</a></li>
										<li><a href="#">Development</a></li>
									</ul>
								</li>
								<li><a href="#">Data</a></li>
								<li><a href="#">Resources</a></li>
							</ul>
						</nav>
					
					<!--
					
					-->
				</div>
			</div>
			
			<div class="body-wrapper">
				<p class="sb-toggle-left"></p>
				<!--
				<form id="form-selection" name="date">
					<select name="year" id="year" size="1">
						<option value=" " selected="selected"> </option>
						<option value="2000">2000</option>
						<option value="2001">2001</option>
						<option value="2002">2002</option>
					</select>
					<select name="month" id="month" size="1">
						<option value=" " selected="selected"> </option>
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">March</option>
						<option value="4">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
					<select name="day" id="day" size="1">
						<option value=" " selected="selected"> </option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>
					<select>
						<option value="00">00</option>
						<option value="12">12</option>
					</select>
					<select>
						<option value="UTC">UTC</option>
						<option value="PST">PST</option>
						<option value="MST">MST</option>
						<option value="CST">CST</option>
						<option value="EST">EST</option>
						<option value="NST">NST</option>
						<option value="AST">AST</option>
					</select>
				</form>
				-->
				<!-- Banner -->
				<div id="banner-image">
					<img src="imgs/banner.jpg" alt="banner">
				</div>
							
				<div class="block">
					<h2>Western Canadian Forecast</h2>
					<p id="p1">Pasta ipsum dolor sit amet cencioni mostaccioli linguine penne lisce mafalde mezzani pasta frakking mostaccioli trenne lasagnotte fettuccine ciriole gramigna penne spaghetti. Elicoidali frak tortiglioni scialatelli maltagliati farfalle stringozzi pennoni foglie d'ulivo pennoni lasagne. Stringozzi cock conchiglie penne radiatori fettuccine lasagne maltagliati tortiglioni. Sacchettoni linguettine ravioli linguettine chifferi acini di pepe ziti. Elicoidali bavette torchio pennoni mostaccioli paccheri tagliatelle ciriole lanterne pennette. Mezzelune mafalde farfalle vermicelli cellentani cavatelli ravioli fusilli bucati calamarata. Fuck pennoni lasagnotte trennette vermicelloni casarecce farfalle fiori. </p>
				</div>
				<div class="block">
					<h2>Eastern Canadian Forecast</h2>
					<p id="p2">Pasta ipsum dolor sit amet cencioni mostaccioli linguine penne lisce mafalde mezzani pasta frakking mostaccioli trenne lasagnotte fettuccine ciriole gramigna penne spaghetti. Elicoidali frak tortiglioni scialatelli maltagliati farfalle stringozzi pennoni foglie d'ulivo pennoni lasagne. Stringozzi cock conchiglie penne radiatori fettuccine lasagne maltagliati tortiglioni. Sacchettoni linguettine ravioli linguettine chifferi acini di pepe ziti. Elicoidali bavette torchio pennoni mostaccioli paccheri tagliatelle ciriole lanterne pennette. Mezzelune mafalde farfalle vermicelli cellentani cavatelli ravioli fusilli bucati calamarata. Fuck pennoni lasagnotte trennette vermicelloni casarecce farfalle fiori. </p>	
				</div>
				<div class="block">
					<h2>Canadian Forecast</h2>
					<p class="p3">Pasta ipsum dolor sit amet cencioni mostaccioli linguine penne lisce mafalde mezzani pasta frakking mostaccioli trenne lasagnotte fettuccine ciriole gramigna penne spaghetti. Elicoidali frak tortiglioni scialatelli maltagliati farfalle stringozzi pennoni foglie d'ulivo pennoni lasagne. Stringozzi cock conchiglie penne radiatori fettuccine lasagne maltagliati tortiglioni. Sacchettoni linguettine ravioli linguettine chifferi acini di pepe ziti. Elicoidali bavette torchio pennoni mostaccioli paccheri tagliatelle ciriole lanterne pennette. Mezzelune mafalde farfalle vermicelli cellentani cavatelli ravioli fusilli bucati calamarata. Fuck pennoni lasagnotte trennette vermicelloni casarecce farfalle fiori. </p>
				</div>
				
				<!--
				<div id="forecast-controls">
					<button type="button"><img src="imgs/controls/slower1.png"></button>
					<button type="button"><img src="imgs/controls/first_frame.png"></button>
					<button type="button"><img src="imgs/controls/previous_frame.png"></button>
					<button type="button"><img src="imgs/controls/reverse_animation.png"></button>
					<button type="button"><img src="imgs/controls/pause.png"></button>
					<button type="button"><img src="imgs/controls/play_animation.png"></button>
					<button type="button"><img src="imgs/controls/next_frame.png"></button>
					<button type="button"><img src="imgs/controls/last_frame.png"></button>
					<button type="button"><img src="imgs/controls/faster.png"></button>
				</div>
				-->
			</div>
			<div class="footer-wrapper">
				<div id="footer-links">
					<p>
						<span id="contact-link"><a href="/">Home</a></span>
						|
						<span id="contact-link"><a href="/about">About US</a></span>
						|
						<span id="contact-link"><a href="/contact">Contact Us</a></span>
						|
						<span id="contact-link"><a href="http://bluesky.eos.ubc.ca/">BlueSky Canada</a></span>
					</p>
				</div>
				<div class="horizontal-rule">
					<hr>
				</div>
				<div id="copyright">
					&copy; FireSmoke.ca. All rights reserved.</a>
				</div>
			</div>
			
		    <div class="sb-slidebar sb-left">
		  <!-- Your left Slidebar content. -->
							<ul>
								<li><a href="#">Forecasts</a>
									<ul>
										<li><a href="#">Canada</a></li>
										<li><a href="#">East</a></li>
										<li><a href="#">West</a></li>
										<li><a href="#">Development</a></li>
									</ul>
								</li>
								<li><a href="#">Data</a></li>
								<li><a href="#">Resources</a></li>
							</ul>
			</div>
			
			
			<!--
			<script>
				document.getElementById('year').onchange = setDay;
				document.getElementById('month').onchange = setDay;
			</script>
			-->
				<!-- jQuery -->
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			
			<!-- Slidebars -->
			<script src="js/slidebars.min.js"></script>
			<script>
				(function($) {
					$(document).ready(function() {
						$.slidebars();
					});
				}) (jQuery);
			</script>
			
		</div>
	</body>
</html>