<!DOCTYPE html>
<html>
<!-- this is a test -->
	<head>
		<link rel="stylesheet" type="text/css" href="css/mobileFirst.css">
		<!--<script type= "text/javascript" src="js/mobileFirst.js"></script>-->
		
		<link rel="stylesheet" href="css/slidebars.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body>
        <div id="sb-site">
            <div class="header-wrapper">
                <div class="header">
                    <nav id="primary-nav">
                        <ul id="primary-nav">
                            <li><a href="#">FireSmoke.ca</a></li>
                            <li><a href="#">Forecasts</a>
                                <ul>
                                    <li><a href="#">Canada</a></li>
                                    <li><a href="#">East</a></li>
                                    <li><a href="#">West</a></li>
                                    <li><a href="#">Development</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Data</a></li>
                            <li><a href="#">Resources</a></li>
							</ul>
                        <p class="sb-toggle-left">Toggle left sidebar</p>
						</nav>
                </div>
            </div>
            
            <div class="body-wrapper">
                <!-- Banner -->
				<div id="banner-image">
					<img src="imgs/banner.jpg" alt="banner">
				</div>
							
				<div class="block">
					<h2>Western Canadian Forecast</h2>
					<p id="p1">Pasta ipsum dolor sit amet cencioni mostaccioli linguine penne lisce mafalde mezzani pasta frakking mostaccioli trenne lasagnotte fettuccine ciriole gramigna penne spaghetti. Elicoidali frak tortiglioni scialatelli maltagliati farfalle stringozzi pennoni foglie d'ulivo pennoni lasagne. Stringozzi cock conchiglie penne radiatori fettuccine lasagne maltagliati tortiglioni. Sacchettoni linguettine ravioli linguettine chifferi acini di pepe ziti. Elicoidali bavette torchio pennoni mostaccioli paccheri tagliatelle ciriole lanterne pennette. Mezzelune mafalde farfalle vermicelli cellentani cavatelli ravioli fusilli bucati calamarata. Fuck pennoni lasagnotte trennette vermicelloni casarecce farfalle fiori. </p>
				</div>
				<div class="block">
					<h2>Eastern Canadian Forecast</h2>
					<p id="p2">Pasta ipsum dolor sit amet cencioni mostaccioli linguine penne lisce mafalde mezzani pasta frakking mostaccioli trenne lasagnotte fettuccine ciriole gramigna penne spaghetti. Elicoidali frak tortiglioni scialatelli maltagliati farfalle stringozzi pennoni foglie d'ulivo pennoni lasagne. Stringozzi cock conchiglie penne radiatori fettuccine lasagne maltagliati tortiglioni. Sacchettoni linguettine ravioli linguettine chifferi acini di pepe ziti. Elicoidali bavette torchio pennoni mostaccioli paccheri tagliatelle ciriole lanterne pennette. Mezzelune mafalde farfalle vermicelli cellentani cavatelli ravioli fusilli bucati calamarata. Fuck pennoni lasagnotte trennette vermicelloni casarecce farfalle fiori. </p>	
				</div>
				<div class="block">
					<h2>Canadian Forecast</h2>
					<p class="p3">Pasta ipsum dolor sit amet cencioni mostaccioli linguine penne lisce mafalde mezzani pasta frakking mostaccioli trenne lasagnotte fettuccine ciriole gramigna penne spaghetti. Elicoidali frak tortiglioni scialatelli maltagliati farfalle stringozzi pennoni foglie d'ulivo pennoni lasagne. Stringozzi cock conchiglie penne radiatori fettuccine lasagne maltagliati tortiglioni. Sacchettoni linguettine ravioli linguettine chifferi acini di pepe ziti. Elicoidali bavette torchio pennoni mostaccioli paccheri tagliatelle ciriole lanterne pennette. Mezzelune mafalde farfalle vermicelli cellentani cavatelli ravioli fusilli bucati calamarata. Fuck pennoni lasagnotte trennette vermicelloni casarecce farfalle fiori. </p>
				</div>
            </div>
            
            <div class="footer-wrapper">
				<div id="footer-links">
					<p>
						<span id="contact-link"><a href="/">Home</a></span>
						|
						<span id="contact-link"><a href="/about">About US</a></span>
						|
						<span id="contact-link"><a href="/contact">Contact Us</a></span>
						|
						<span id="contact-link"><a href="http://bluesky.eos.ubc.ca/">BlueSky Canada</a></span>
					</p>
				</div>
				<div class="horizontal-rule">
					<hr>
				</div>
				<div id="copyright">
					&copy; FireSmoke.ca. All rights reserved.</a>
				</div>
			</div>
            
        </div>
        
        <div class="sb-slidebar sb-left">
          <!-- Your left Slidebar content. -->
          <ul id="sb-nav">
            <li><a href="#">FireSmoke.ca</a>
                <ul>
                    <li><a href="#">Canada</a></li>
                    <li><a href="#">Eastern Canada</a></li>
                    <li><a href="#">Western Canada</a></li>
                    <li><a href="#">Development</a></li>
                </ul>
            </li>
            <li><a href="#">Forecasts</a></li>
            <li><a href="#">Data</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>
        
        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- Slidebars -->
        <script src="js/slidebars.min.js"></script>
        <script>
          (function($) {
            $(document).ready(function() {
              $.slidebars();
            });
          }) (jQuery);
        </script>
	</body>
</html>